# requirements.txt

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.0.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
torchaudio==2.0.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
torchvision==0.15.2+cpu

sentence-transformers==2.2.2
fastapi
uvicorn[standard]
sqlite_vss==0.1.0
